@import "../../../styles/vars.scss";
.bar {
  background-color: $color-main;
  height: 0.25rem;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
}
.container {
  pointer-events: none;
}
