@import "../../styles/vars.scss";
.container {
  min-height: 100vh;
  position: relative;
  display: flex;
  svg {
    font-size: 28px;
    min-height: 30px;
    min-width: 30px;
    display: block;
  }
}
.sidebar {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 50px;
  background-color: $--clr-black;
  color: $--clr-gray-2;
  transition: all 0.3s;
  ul {
    list-style: none;
  }
  p {
    display: none;
  }
  .logoContainer {
    .logo {
      display: none;
    }
  }
}
.sidebar.active {
  width: 240px;
  p {
    display: block;
  }
  .logoContainer {
    .logo {
      display: flex;
    }
  }
}
.logoContainer {
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo {
    display: flex;
    align-items: center;

    .logoText {
      font-weight: 500;
      margin-left: 10px;
    }
    .logoIcon {
      display: flex;
      max-width: 30px;
      max-height: 30px;
      align-items: center;
    }
  }
  .toggleBtn {
    cursor: pointer;
  }
}
.navList {
  list-style: none;
  li {
    border-top: 1px solid $--clr-gray-0;
    a {
      padding: 10px;
      display: flex;
      align-items: center;
      width: 100%;
      transition: all 0.3s;
      &:hover {
        background-color: $--clr-green;
        color: $--clr-black;
      }
      p {
        cursor: pointer;
        margin-left: 10px;
      }
    }
    .active {
      background-color: $--clr-green;
      color: $--clr-black;
      transition: all 0.3s;
    }
  }
}

.main {
  position: absolute;
  left: 50px;
  width: calc(100% - 50px);
  transition: all 0.3s;
}
.main.active {
  left: 50px;
  width: calc(100% - 50px);
}
@media only screen and (min-width: 768px) {
  .main {
    left: 240px;
    width: calc(100% - 240px);
  }
}
