@import "../../../styles/vars.scss";
.tooltip {
  display: none;
  box-shadow: 0 0 10px 0px rgba($color: #000000, $alpha: 0.3);
  color: $--clr-gray-2;
  background-color: $--clr-black;
  font-weight: 500;
  padding: 4px 10px;
  border-radius: 10px;
  position: absolute;
  top: 76px;
  left: 70px;
  z-index: 100;
  transform: translateY(-50%);
  transition: all 0.3s;
  p {
    color: $--clr-gray-2;
  }
}

.tooltip.active {
  display: none;
}

@media only screen and (min-width: 768px) {
  .tooltip.active {
    display: block;
  }
}
