@import "../../styles/vars.scss";
.container {
  overflow: hidden;
  * {
    line-height: 1.8;
    letter-spacing: -0.005em;
  }
  p {
    margin-bottom: 20px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 1em 0px 0.8em;
  }
  blockquote {
    margin: 1.8em 0px 1.8em;
    padding: 10px 20px 10px 50px;
    border-left: 5px solid $color-main;
    background-color: $color-main-03;
    p {
      margin: 0;
    }
  }
  pre {
    background-color: $color-dark;
    padding: 10px;
    margin: 1.8em 0px 1.8em;
    border-radius: 10px;
    overflow: auto;
    color: $color-light-1;
    code {
      background-color: transparent;
    }
  }
  code {
    padding: 2px 4px;
    color: $color-light-1;
    background-color: rgba($color: $color-text, $alpha: 0.7);
    font-style: italic;
    font-size: 14px;
    border-radius: 3px;
  }
  ul {
    margin-left: 55px;
    margin-bottom: 20px;
    li {
      margin-bottom: 0.8em;
      color: $color-text;
    }
  }
  strong {
    color: $color-dark;
    font-weight: 600;
  }
  a {
    border-bottom: 1px solid rgba($color: $color-dark, $alpha: 0.3);
    background-color: rgba($color: $color-main, $alpha: 0.3);
    line-height: 1;
    display: inline-block;
    transition: all 0.1s;
    &:hover {
      border-bottom: 1px solid rgba($color: $color-dark, $alpha: 0.7);
      background-color: rgba($color: $color-main, $alpha: 0.7);
    }
  }
}
