@import "../../../styles/vars.scss";
.header {
  min-width: 100%;
  border-bottom: 1px solid $--clr-gray-2;
  padding-bottom: 10px;
  color: $--clr-gray-3;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h3 {
    color: $--clr-blue-1;
    font-size: calc(24px + 3 * ((100vw - 430px) / 770));
    font-weight: 500;
  }
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      color: $--clr-gray-3;
      font-size: 20px;
      min-height: 20px;
      min-width: 20px;
      margin-top: 4px;
    }
    &:hover {
      filter: brightness(80%);
    }
  }
}
