@import "../vars.scss";
.container {
  .Section__LayoutContainer {
    margin: 0px 10px;
    .Section__Layout {
      max-width: 1100px;
      margin: 0 auto;
      padding-bottom: 100px;
      section {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 100px 0;
      }
    }
  }
}

.main {
  .introSection {
    padding-top: 0px !important;
    .contentWrapper {
      margin-top: 100px;
      display: grid;
      gap: 30px;
      grid-template-columns: 1fr;
      .introSectionTextWrapper {
        p {
          margin-top: 30px;
        }
        button {
          margin-top: 30px;
        }
      }
      .introSectionImageWrapper {
        display: none;
      }
    }
  }
  .ourServiceSection {
    .contentWrapper {
      display: grid;
      gap: 30px;
      grid-template-columns: 1fr;
    }
    .ourServiceSectionTextWrapper {
      padding-bottom: 50px;
      h2 {
        margin-bottom: 30px;
      }
      p {
        margin-bottom: 30px;
      }
    }
    .ourServiceSectionCardsWrapper {
      display: grid;
      grid-template-columns: 1fr;
      gap: 10px;
      .card {
        a {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
        }
        cursor: pointer;
        padding: 15px;
        padding-bottom: 50px;
        background-color: transparent;
        transition: all 0.3s;
        border-radius: 15px;
        border: 1px solid $color-text-03;
        &:hover {
          box-shadow: 0 0 10px 0 rgba($color: $color-dark, $alpha: 0.25);
          border: 1px solid transparent;
        }
        svg {
          min-width: 40px;
          min-height: 40px;
          margin-bottom: 10px;
          color: $color-main;
        }
        p {
          width: 100%;
          text-align: center;
          font-size: 0.9em;
          &:first-of-type {
            font-weight: 500;
            font-size: 1.1em;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
  .coursesSection {
    h2 {
      width: 100%;
      text-align: center;
      margin-bottom: 50px;
    }
    .coursesSectionCardsWrapper {
      gap: 30px;
      display: grid;
      grid-template-columns: 1fr;
      .cardWrapper {
        position: relative;
      }
      .card {
        min-height: 100%;
        box-shadow: 0 0 10px 0 rgba($color: $color-dark, $alpha: 0.25);
        border-radius: 10px;
        border-top-left-radius: 0px;
        overflow: hidden;
        background-color: $color-dark;
        .imageWrapper {
          position: relative;
          .imageGradient {
            position: absolute;
            inset: 0;
            bottom: -5px;
            z-index: 5;
            background: linear-gradient(
              180deg,
              rgba(255, 255, 255, 0) 60%,
              rgba(28, 28, 28, 1) 100%
            );
          }
        }
        .textWrapper {
          padding: 10px 20px;
          padding-bottom: 42px;
          h3 {
            font-size: 2em;
            color: $color-light-1;
            font-weight: 500;
          }
          p {
            font-size: 0.9em;
          }
          .descSubheader {
            margin-top: 20px;
            margin-bottom: 10px;
            color: $color-light-1;
            text-transform: uppercase;
          }
          .courseQuote {
            color: $color-light-1;
            margin-top: 17px;
            margin-bottom: 50px;
            font-style: italic;
          }
        }
        .footer {
          position: absolute;
          bottom: 0px;
          width: 100%;
          padding: 0 20px;
          padding-bottom: 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          .shareButton {
            cursor: pointer;
            background-color: transparent;
            color: $color-main;
            transition: all 0.3s;
            svg {
              min-height: 30px;
              min-width: 30px;
            }
            &:hover {
              filter: brightness(110%);
            }
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  .main {
    .ourServiceSection {
      .ourServiceSectionCardsWrapper {
        grid-template-columns: 1fr 1fr;
      }
    }
    .coursesSection {
      .coursesSectionCardsWrapper {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
@media only screen and (min-width: 992px) {
  .main {
    .introSection {
      .contentWrapper {
        grid-template-columns: 1fr 1fr;
        .introSectionImageWrapper {
          display: block;
        }
      }
    }
    .ourServiceSection {
      .contentWrapper {
        grid-template-columns: 1fr 1fr;
        .ourServiceSectionTextWrapper {
          padding-bottom: 0px;
        }
        .ourServiceSectionCardsWrapper {
          grid-template-columns: 1fr 1fr;
        }
      }
    }
  }
}
@media only screen and (min-width: 1200px) {
  .main {
    .coursesSection {
      .coursesSectionCardsWrapper {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}
