@import "../../styles/vars";
.scribble {
  position: relative;
  display: inline-flex;
  svg {
    min-width: 50px;
    min-height: 50px;
  }
  .dummyText {
    position: relative;
    top: -30px;
    left: -30px;
    font-size: 30px;
    font-family: $secondary-font;
  }
}
