@import "../styles/vars.scss";

.container {
  min-height: 100vh;
  background-color: $--clr-gray-1;
}

.main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 10px;
  }
  .introSection {
  }
  .blogSection {
    .content {
      margin-top: 30px;
      display: grid;
      grid-template-columns: 1fr;
      gap: 30px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .main {
    section {
      padding: 0 20px;
      width: 95%;
    }
    .blogSection {
      .content {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}
@media only screen and (min-width: 992px) {
  .main {
    section {
      padding: 0 30px;
      width: 900px;
    }
    .blogSection {
      .content {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }
}
@media only screen and (min-width: 1200px) {
  .main {
    section {
      padding: 0 50px;
      width: 80%;
    }
  }
}
