@import "../styles/vars.scss";

.container {
  min-height: 100vh;
  background-color: $--clr-gray-1;
}
.main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 16px;
  }
  .introSection {
    .introSectionText {
      margin-top: 100px;
      width: 100%;
    }
  }
  .blogSection {
    .content {
      margin-top: 30px;
      display: grid;
      grid-template-columns: 1fr;
      gap: 30px;
      .contentSidebar {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
        margin: 0;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .main {
    section {
      padding: 0 20px;
      width: 95%;
    }
    .blogSection {
      .content {
        .contentSidebar {
          grid-template-columns: 1fr 1fr;
        }
      }
    }
  }
}
@media only screen and (min-width: 992px) {
  .main {
    section {
      padding: 0 30px;
      width: 900px;
    }
    .blogSection {
      .content {
        grid-template-columns: 2fr 1fr;
        .contentSidebar {
          grid-template-columns: 1fr;
        }
      }
    }
  }
}
@media only screen and (min-width: 1200px) {
  .main {
    section {
      padding: 0 50px;
      width: 1100px;
    }
  }
}
