@import "./vars.scss";
.container {
  .Section__LayoutContainer {
    margin: 0px 10px;
    .Section__Layout {
      max-width: 1100px;
      margin: 0 auto;
      padding: 100px 0;
      border-left: 1px dashed lightgray;
      border-right: 1px dashed lightgray;
      section {
        padding: 100px 0;
      }
    }
  }
}
.backgroundGradient {
  position: absolute;
  inset: 0;
  min-height: 100vh;
  max-height: 100vh;
  background-image: $--gradient;
  background-size: $--bg-size;
  animation: $--gradient-animation;
  clip-path: polygon(0 0, 100% 0, 100% 20%, 0% 50%);
}

.introBannerSection {
  display: flex;
  justify-content: center;

  .content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .bannerTitle {
    margin-top: 100px;
    position: relative;
    z-index: 5;
    h1 {
      font-size: 30px;
      font-weight: 700;
    }
    p {
      margin-top: 30px;
      text-align: justify;
      color: $--clr-gray-3;
    }
    button {
      margin-top: 30px;
    }
  }
  .bannerImage {
    user-select: none;
    display: none;
    .bannerCard {
      color: $--clr-gray-3;
      .bold {
        font-weight: 600;
        font-size: 16px;
        color: $--clr-gray-3;
      }
      .regular {
        font-size: 12px;
        font-weight: 400;
        color: $--clr-gray-3;
      }
      box-shadow: 5px 20px 30px -18px rgba(0, 0, 0, 0.75);
      background-color: rgba($color: $--clr-gray-1, $alpha: 0.5);
      border-radius: 15px;
      border-top: 1px solid #fff;
      border-left: 1px solid #fff;
      backdrop-filter: blur(5px);
      padding: 20px;
      header {
        display: flex;
        align-items: center;
        .searchBar {
          box-shadow: 1px 3px 3px -1px rgba(0, 0, 0, 0.25);
          padding: 5px;
          background-color: $--clr-gray-1;
          width: 100%;
          margin-left: 17px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          border-radius: 15px;
          border-top-left-radius: 0px;

          svg {
            font-size: 14px;
            min-height: 11px;
            min-width: 11px;
            max-height: 11px;
            max-width: 11px;
            margin-right: 5px;
          }
        }
      }
      .smallCard {
        box-shadow: 1px 3px 3px -1px rgba(0, 0, 0, 0.25);
        margin-top: 20px;
        background-color: $--clr-gray-1;
        border-radius: 15px;
        border-top-left-radius: 0px;
        .smallCardTitle {
          padding: 10px 20px;
          border-bottom: 1px solid #e8e8e8;
        }
        .smallCardContent {
          padding: 20px;
          display: grid;
          grid-template-columns: 150px 1fr;

          img {
            border-radius: 10px;
            border-top-left-radius: 0px;
          }
          .smallCardText {
            margin-top: 10px;
            margin-left: 20px;
            .smallCardTextText {
              margin-top: 10px;
              margin-left: 10px;
            }
            button {
              margin-left: 10px;
              margin-top: 10px;
            }
          }
        }
      }
    }
    position: relative;
    z-index: 5;
  }
}
.whyUsSection {
  border-radius: 15px;
  border-top-left-radius: 0px;
  h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  .textWrapper {
    display: grid;
    grid-template-columns: 1fr;
    p {
      color: $--clr-gray-3;
    }
    gap: 30px;
    span {
      color: $--clr-green;
    }
  }
  .cardsWrapper {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    .card {
      position: relative;
      .cardLine {
        background-image: $--gradient;
        background-size: $--bg-size;
        animation: $--gradient-animation;
        width: 80%;
        height: 200px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        clip-path: polygon(100% 20%, 100% 60%, 0 80%, 0 40%);
      }
      .cardContent {
        box-shadow: 5px 20px 30px -18px rgba(0, 0, 0, 0.75);
        background-color: rgba($color: $--clr-gray-1, $alpha: 0.5);
        border-radius: 15px;
        border-top: 1px solid #fff;
        border-left: 1px solid #fff;
        backdrop-filter: blur(5px);
        padding: 20px;
        min-height: 100%;
        .cardHeader {
          display: flex;
          justify-content: space-between;
          align-items: center;
          svg {
            color: $--clr-gray-3;
            min-height: 20px;
            min-width: 20px;
          }
          p {
            font-size: 24px;
            font-weight: 600;
            color: $--clr-gray-3;
          }
        }
        .imageWrapper {
          padding: 20px;
        }
      }
    }
  }
}
@media only screen and (min-width: 540px) {
  .introBannerSection {
    .bannerTitle {
      h1 {
        font-size: 30px;
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  .container {
    .Section__LayoutContainer {
      display: flex;
      justify-content: center;
      margin: 0px 20px;
    }
  }
  .introBannerSection {
    .bannerTitle {
      h1 {
        font-size: 40px;
      }
    }
  }
  .whyUsSection {
    .textWrapper {
      grid-template-columns: 1fr 1fr;
    }
    .cardsWrapper {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media only screen and (min-width: 992px) {
  .container {
    .Section__Layout {
      margin: 0px 50px;
    }
  }
  .introBannerSection {
    .bannerTitle {
      h1 {
        font-size: 50px;
      }
    }
    .bannerImage {
      display: block;
    }
    .content {
      grid-template-columns: 1fr 1fr;
    }
  }
  .whyUsSection {
    .cardsWrapper {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
