@import "./vars.scss";
.container {
  .Section__LayoutContainer {
    margin: 0px 10px;
    .Section__Layout {
      max-width: 1100px;
      margin: 0 auto;
      padding-bottom: 100px;
      section {
        padding: 100px 0;
      }
    }
  }
}
.backgroundGradient {
  position: absolute;
  inset: 0;
  min-width: 100vw;
  min-height: 100%;
  background-image: url("../public/HomePage/IntroSection/background.jpg");
  background-position: center;
  background-size: cover;
}

.introBannerSection {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  .contentWrapper {
    margin: 0px 10px;
    padding: 100px 0;
    max-width: 1100px;
  }
  .content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .bannerTitle {
    margin-top: 100px;
    position: relative;
    z-index: 5;
    p {
      color: $color-dark;
      margin-top: 30px;
    }
    .buttonContainer {
      margin-top: 30px;
      button {
        &:first-of-type {
          margin-right: 20px;
        }
      }
    }
  }
  .bannerImage {
    user-select: none;
    display: flex;
    justify-content: center;
    .bannerCard {
      margin-top: 50px;
      max-width: 550px;
      .bold {
        font-weight: 500;
        font-size: 16px;
      }
      .regular {
        font-size: 12px;
        font-weight: 300;
      }
      box-shadow: 5px 20px 30px -18px rgba(0, 0, 0, 0.75);
      background-color: rgba($color: $color-background, $alpha: 0.5);
      border-radius: 15px;
      border-top: 1px solid #fff;
      border-left: 1px solid #fff;
      backdrop-filter: blur(5px);
      padding: 20px;
      header {
        display: flex;
        align-items: center;
        .searchBar {
          box-shadow: 1px 3px 3px -1px rgba(0, 0, 0, 0.25);
          padding: 5px;
          background-color: $color-background;
          width: 100%;
          margin-left: 17px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          border-radius: 15px;

          svg {
            color: $color-text;
            font-size: 14px;
            height: 11px;
            width: 11px;
            margin-right: 5px;
          }
        }
      }
      .smallCard {
        box-shadow: 1px 3px 3px -1px rgba(0, 0, 0, 0.25);
        margin-top: 20px;
        background-color: $color-background;
        border-radius: 15px;
        &:last-of-type {
          display: none;
        }
        .smallCardTitle {
          padding: 10px 20px;
          border-bottom: 1px solid $color-text-03;
        }
        .smallCardContent {
          padding: 20px;
          display: grid;
          grid-template-columns: 1fr;

          img {
            border-radius: 10px;
            border-top-left-radius: 0px;
          }
          .smallCardText {
            margin-top: 10px;
            margin-left: 20px;
            .smallCardTextText {
              margin-top: 10px;
              margin-left: 10px;
            }
            button {
              margin-left: 10px;
              margin-top: 10px;
            }
          }
        }
      }
    }
    position: relative;
    z-index: 5;
  }
}
.whyUsSection {
  border-radius: 15px;
  overflow: hidden;
  .titleWrapper {
    margin-bottom: 30px;
    position: relative;
    display: flex;
    .scribble {
      position: absolute !important;
      left: 20%;
      top: -20px;
    }
  }

  .textWrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    span {
      color: $color-main;
    }
  }
  .cardsWrapper {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    .card {
      position: relative;
      .cardLine {
        background-image: $gradient-background;
        background-size: $size-background;
        animation: $gradient-animation;
        width: 80%;
        height: 200px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        clip-path: polygon(100% 20%, 100% 60%, 0 80%, 0 40%);
      }
      .cardContent {
        background-color: $color-main-03;
        border-radius: 15px;
        border-top: 1px solid #fff;
        border-left: 1px solid #fff;
        backdrop-filter: blur(5px);
        padding: 20px;
        min-height: 100%;
        transition: all 0.3s;
        .cardHeader {
          display: flex;
          justify-content: space-between;
          align-items: center;
          svg {
            color: $color-background;
            min-height: 20px;
            min-width: 20px;
          }
          p {
            color: $color-background;
            font-size: 1.2em;
            font-weight: 500;
          }
        }
        .imageWrapper {
          padding: 20px;
        }
        &:hover {
          box-shadow: 5px 20px 30px -18px rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
}
.helpUsSection {
  position: relative;
  h2 {
    margin-bottom: 30px;
  }
  .contentWrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .scribble {
    position: absolute;
    top: 30px;
    left: 20%;
  }
  .helpUsRow {
    display: block;
    .helpUsText {
      position: relative;
      background-color: $color-main-03;
      border-radius: 15px;
      padding: 20px;
      margin-bottom: 50px;
      h4 {
        margin-bottom: 20px;
      }
      .text {
        margin-bottom: 30px;
      }
      button {
        z-index: 400;
        position: relative;
      }
    }
  }
  .picturesRow {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    padding-right: 10px;
    .subRow {
      .card {
        margin-top: 30px;
        aspect-ratio: 1 / 1;
        border-radius: 15px;
        background-color: $color-main-03;

        div {
          z-index: 10;
          position: relative !important;
          overflow: visible !important;
        }
        img {
          top: 15px !important;
          left: 10px !important;
          border-radius: 15px;
          box-shadow: 5px 20px 30px -18px rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
}

.freelanceSection {
  position: relative;
  padding: 100px 0;
  .freelanceSectionContent_Layout {
    padding: 100px 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: $color-light-2;
  }
  .freelanceSectionWaveImage {
    background-image: url("../public/HomePage/FreelanceSection/wave-path.png");
    position: absolute;
    top: -100px;
    height: 250px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .freelanceSectionContent {
    max-width: 1100px;
    .freelanceSectionHeader {
      margin-bottom: 50px;
      text-align: center;
      p {
        text-align: center;
        font-size: 1.2em;
      }
    }
    .freelanceSectionTextContent {
      display: grid;
      grid-template-columns: 1fr;
      gap: 30px;
      .freelanceSectionText {
        .freelanceSectionCard {
          margin-bottom: 50px;
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          .freelanceSectionCardImage {
            position: relative;
            margin-bottom: 20px;
            .cardLine {
              background-image: $gradient-background;
              background-size: $size-background;
              animation: $gradient-animation;
              width: 80%;
              height: 90px;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              clip-path: polygon(100% 20%, 100% 60%, 0 80%, 0 40%);
            }
            .imageWrapper {
              padding: 10px;
              min-width: 120px;
              z-index: 5;
              display: flex;
              justify-content: center;
              box-shadow: 5px 20px 30px -18px rgba(0, 0, 0, 0.25);
              background-color: rgba($color: $color-background, $alpha: 0.5);
              border-radius: 15px;
              border-top: 1px solid #fff;
              border-left: 1px solid #fff;
              backdrop-filter: blur(5px);
            }
          }
          .freelanceSectionCardText {
            width: 100%;
            a {
              display: flex;
              align-items: center;
              font-size: 1.1em;
              font-weight: 500;
              color: $color-main;
              svg {
                margin-left: 20px;
                position: relative;
                transition: all 0.3s;
              }
              &:hover {
                svg {
                  transform: translateX(10px);
                }
              }
            }
          }
        }
      }
    }
  }
}
.endSection {
  .endSectionText {
    h3 {
      margin-bottom: 20px;
    }
    p {
      margin-bottom: 30px;
    }
  }
}

@media only screen and (min-width: 600px) {
  .introBannerSection {
    .bannerImage {
      .bannerCard {
        .smallCard {
          &:last-of-type {
            display: block;
          }
          .smallCardContent {
            grid-template-columns: 150px 1fr;
          }
        }
      }
    }
  }
  .whyUsSection {
    .cardsWrapper {
      grid-template-columns: 1fr 1fr;
    }
  }
  .helpUsSection {
    .contentWrapper {
      .picturesRow {
        grid-template-columns: 1fr 1fr;
        .subRowSecond {
          margin-top: 100px;
        }
      }
    }
  }
  .freelanceSection {
    .freelanceSectionContent {
      .freelanceSectionTextContent {
        .freelanceSectionText {
          .freelanceSectionCard {
            .freelanceSectionCardImage {
              margin-bottom: 0px;
            }
            .freelanceSectionCardText {
              width: calc(100% - 170px);
              margin-left: 50px;
            }
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  .container {
    .Section__LayoutContainer {
      margin: 0px 20px;
    }
  }
  .introBannerSection {
    .contentWrapper {
      margin: 0px 20px;
    }
  }

  .whyUsSection {
    .titleWrapper {
      .scribble {
        left: 40%;
      }
    }
    .textWrapper {
      grid-template-columns: 1fr 1fr;
    }
    .cardsWrapper {
      grid-template-columns: 1fr 1fr;
    }
  }
  .helpUsSection {
    .scribble {
      left: 40%;
    }
  }
  .freelanceSection {
    .freelanceSectionContent_Layout {
      padding: 100px 20px;
    }
  }
}

@media only screen and (min-width: 992px) {
  .container {
    .Section__LayoutContainer {
      margin: 0px 50px;
    }
  }
  .introBannerSection {
    .contentWrapper {
      margin: 0px 50px;
    }
    .content {
      grid-template-columns: 1fr 1fr;
    }
  }
  .whyUsSection {
    .cardsWrapper {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  .helpUsSection {
    .contentWrapper {
      grid-template-columns: 1fr 1fr;
      .picturesRow {
        grid-template-columns: 1fr 1fr;
        .subRowSecond {
          margin-top: 100px;
        }
      }
    }
    h2 {
      width: 60%;
    }
  }

  .freelanceSection {
    .freelanceSectionContent {
      .freelanceSectionTextContent {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
