@import "./vars.scss";
.container {
  min-height: 100vh;
}

.main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  section.introSection {
    margin-top: 200px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    .introSectionTextWrapper,
    .introSectionImageWrapper {
      padding: 0 50px;
      width: 100%;
      margin-bottom: 100px;
    }

    .introSectionTextWrapper {
      border-right: 1px solid $--clr-gray-2;
      h1 {
        margin-bottom: 5px;
      }
      h2 {
        margin-bottom: 15px;
      }
      p {
        margin-bottom: 20px;
      }
    }
    .introSectionImageWrapper {
      display: flex;
      align-items: center;
    }
  }
}
@media only screen and (min-width: 992px) {
  .main {
    section.introSection {
      width: 95%;
      .introSectionTextWrapper,
      .introSectionImageWrapper {
        padding: 0 50px;
        width: 50%;
        margin-bottom: 0px;
      }
    }
  }
}
@media only screen and (min-width: 1200px) {
  .main {
    section.introSection {
      width: 80%;
      .introSectionTextWrapper,
      .introSectionImageWrapper {
        padding: 0 50px;
        width: 50%;
      }
    }
  }
}
