$--clr-black: #1c1c1c;
$--clr-black-03: rgba(
  $color: #1c1c1c,
  $alpha: 0.3,
);
$--clr-black-08: rgba(
  $color: #1c1c1c,
  $alpha: 0.8,
);
$--clr-white: #ffffff;
$--clr-gray-1: #f2f5ff;
$--clr-gray-2: #e7ecfe;
$--clr-gray-3: #6a8097;
$--clr-gray-3-03: rgba(
  $color: #6a8097,
  $alpha: 0.3,
);
$--clr-blue-1: #191919;

$--clr-main: #0097ff;
$--clr-main-03-solid: #b2e0ff;
$--clr-green: #0097ff;
$--clr-secondary: #20f6ff;
$--clr-wrong: #ff5e2d;
$--clr-right: #12dd34;
$--clr-main-03: rgba(
  $color: #0097ff,
  $alpha: 0.3,
);
$--clr-main-02: rgba(
  $color: #0097ff,
  $alpha: 0.2,
);
$--clr-secondary-03: rgba(
  $color: #20f6ff,
  $alpha: 0.3,
);
$clr: #080866;
// $clr2: #f9fbfc;
// $clr3: #446169;
// $clr5: #20d1e7;

$clr4: #006dc4;
$--gradient: linear-gradient(
  70deg,
  rgb(32, 246, 255) 0%,
  rgb(0, 151, 255) 100%
);
$--bg-size: 300%;
$--gradient-animation: bg-animation 10s infinite alternate;
